<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Luana Beauty Shop</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
	<div>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">Luana Beauty Shop</a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/crud/productos">Productos</a></li>							
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/crud/usuarios">Usuarios</a></li>
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/crud/proveedor">Proveedores</a></li>	
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/crud/categoria">Categorias</a></li>	
							<li class="nav-item dropdown">
					          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					            Reportes
					          </a>
					          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					            <li><a class="dropdown-item" href="/reporte/producto" target="_blank">Productos</a></li>
					            <li><a class="dropdown-item" href="/reporte/usuarios" target="_blank">Usuarios</a></li>
					            <li><a class="dropdown-item" href="/reporte/grafico" target="_blank">Grafico</a></li>
					          </ul>
					        </li>
							
						</ul>
					</div>
				</div>
			</nav>
		</div>
	<div class="container">
		<h1 class="text-center">Mantenimiento Proveedor</h1>
		<button onclick="Nuevo()" type="button" class="btn btn-primary"
			data-bs-toggle="modal" data-bs-target="#staticBackdrop">
			Nuevo</button>
		<br /> <br />
		<table class="table">
			<thead>
				<tr>
					<th>Proveedor</th>
					<th>Telefono</th>
					<th>Correo</th>
					<th>Operaciones</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="prov : ${proveedores}">
					<td th:text="${prov.desc_prov}"></td>
					<td th:text="${prov.telefono_prov}"></td>
					<td th:text="${prov.correo_prov}"></td>
					<td>
						<button class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#staticBackdrop"
							th:attr="onclick=|Editar(${prov.id_prov},this)|">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  				<path
									d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
				</svg>
						</button>
						<button class="btn btn-danger"
							th:attr="onclick=|Eliminar(${prov.id_prov})|">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
 					 <path
									d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
					</svg>
						</button>
					</td>
				</tr>

			</tbody>
		</table>
		
		<div style="display: none">
			<form action="/crud/proveedor/eliminar" method="post">
				<input id="txtidprov" name="id" /> <input type="submit"
					id="txtboton" />
			</form>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="lbltitulo">Agregar Proveedor</h5>

				</div>
				<div class="modal-body">
					<form action="/crud/proveedor/guardar" method="post" id="frmProveedor"
						th:object="${proveedor}">
						<div style="display: none">
							<label>Id Proveedor</label> <input type="text" class="form-control"
								readonly th:field="*{id_prov}" id="id_prov" />
						</div>

						<div>
							<label>Proveedor</label> <input type="text" class="form-control ob"
								data-mensaje="nombre del proveedor" th:field="*{desc_prov}"
								id="desc_prov" />
						</div>

						<div>
							<label>Correo</label> <input type="text"
								class="form-control ob" data-mensaje="Correo del proveedor"
								th:field="*{correo_prov}" id="correo_prov" />
						</div>


						<div>
							<label>Telefono</label> <input type="text"
								class="form-control ob" data-mensaje="Telefono del proveedor"
								th:field="*{telefono_prov}" id="telefono_prov" />
						</div>

					</form>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" onclick="Guardar()" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<script src="/jquery.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="/sweetalert.js"></script>
	<script src="/generic.js"></script>

	<script>
		function Eliminar(id) {
			Confirmacion("Confirmacion",
					"Desea eliminar realmente el proveedor", function() {
						set("txtidprov", id)

						document.getElementById("txtboton").click()

					})
		}

		function Nuevo() {
			LimpiarDatos("frmProveedor");
			setI("lbltitulo", "Agregar nuevo proveedor ");
			document.getElementById("id_prov").value = "0"
		}

		function Guardar() {
			var errores = ValidarDatos("frmProveedor")
			if (errores != "") {
				Error(errores)
				return;
			}

			Confirmacion("Confirmacion", "Desea guardar los datos del proveedor",
					function() {
						var frmProveedor = document.getElementById("frmProveedor")
						frmProveedor.submit()

					})

		}

		function Editar(id, btn) {
			setI("lbltitulo", "Editar Proveedor ");
			var fila = btn.parentNode.parentNode;
			var proveedor = fila.children[0].innerHTML;
			var telefono = fila.children[1].innerHTML;
			var correo = fila.children[2].innerHTML;

			set("id_prov", id)
			set("desc_prov", proveedor)
			set("telefono_prov", telefono)
			set("correo_prov", correo)

		}
	</script>
</body>
</html>